extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Navigera till Soloäventyret
  ul
    li
      a(href="/story") Story
    li
      a(href="/story/1") Story id 1, start.
    li
      a(href="/combat") Stridssystemet
      
